#root {
  margin: 0;
  text-align: start;
}

#curveDiv{
  border-top: red solid 4px;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  box-shadow: inset 0px 20px 20px -20px rgba(51, 51, 225, 0.746);
  background-color: black;
}

.reasonCard{
  box-shadow: inset 1px 2px 50px 1px rgba(168, 114, 152, 0.746);
}